In [9]:
# Import necessary libraries

import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [10]:
# Load CSV files into DataFrames
aisle_df = pd.read_csv("data/aisles.csv")
department_df = pd.read_csv("data/departments.csv")
order_product_df = pd.read_csv("data/order_products.csv").sample(10000) # Sample for performance
orders_df = pd.read_csv("data/orders.csv").sample(10000)
products_df = pd.read_csv("data/products.csv")

In [11]:
# Display the first few rows of the DataFrames (for debugging)
products_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [12]:
order_product_df.head()

          order_id  product_id  add_to_cart_order  reordered
13168204   1389855        7751                  2          0
7417571     783049       37173                 14          0
12609578   1330807       30784                 13          0
4773850     503861       21405                  2          1
217022       22904        2202                  9          1

In [13]:
orders_df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
2592344,1418814,156064,prior,7,6,16,9.0
2990156,2687562,180406,test,7,4,11,30.0
1207544,1336074,72604,prior,16,0,16,28.0
163794,1920909,9878,prior,1,0,11,NaN
317801,2324651,19242,prior,30,1,13,9.0

In [14]:
department_df.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [15]:
aisle_df.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [48]:
# Establish a connection to the PostgreSQL database
try:
    connection = psycopg2.connect(dbname="ecom_data", user='postgres', password=7190, port='5432')
except:
    print("Connection was failed")

In [49]:
# Create a cursor object to execute SQL commands
cur = connection.cursor()

In [50]:
# Create aisles table in the database
engine = create_engine('postgresql+psycopg2://postgres:7190@localhost/ecom_data')

In [51]:
# Create departments table in the database
cur.execute("""
CREATE TABLE aisles(
    aisle_id INTEGER PRIMARY KEY,
    aisle VARCHAR(255)
    )
""")

In [52]:

cur.execute("""
CREATE TABLE departments(
    department_id INTEGER PRIMARY KEY,
    department VARCHAR(255)
    )
""")

In [53]:
# Create products table in the database with foreign key references
cur.execute("""
CREATE TABLE products(
    product_id INTEGER PRIMARY KEY,
    product_name VARCHAR(255),
    aisle_id INTEGER,
    department_id INTEGER,
    FOREIGN KEY(aisle_id) REFERENCES aisles(aisle_id),
    FOREIGN KEY(department_id) REFERENCES departments(department_id)
    )
""")

In [55]:
# Drop the orders table if it exists to avoid conflicts
cur.execute("""
DROP TABLE IF EXISTS orders;
""")

cur.execute("""
CREATE TABLE orders(
    order_id INTEGER PRIMARY KEY,
    user_id INTEGER,
    order_number INTEGER,
    order_dow INTEGER,
    order_hour_of_day INTEGER,
    days_since_prior_order INTEGER
);
""")

In [ ]:
# Create order_products table in the database with foreign key references
cur.execute("""
CREATE TABLE order_products(
    order_id INTEGER,
    product_id INTEGER,
    add_to_cart_order INTEGER,
    reordered INTEGER,
    PRIMARY KEY (order_id, product_id),
    FOREIGN KEY(order_id) REFERENCES orders(order_id),
    FOREIGN KEY(product_id) REFERENCES products(product_id)
    )
""")

In [56]:
# Commit the changes to the database
connection.commit()

In [57]:
# Clean the orders DataFrame by dropping unnecessary columns
orders_df.drop('eval_set', inplace=True, axis=1)

In [58]:
# Load the DataFrames into the PostgreSQL tables
aisle_df.to_sql('aisles', con=engine, if_exists='append', index=False)

134

In [59]:
department_df.to_sql('departments', con=engine, if_exists='append', index=False)

21

In [60]:
products_df.to_sql('products', con=engine, if_exists='append', index=False)

688

In [61]:
orders_df.to_sql('orders', con=engine, if_exists='append', index=False)

1000

In [63]:
# Load existing orders into a DataFrame (assuming you've already done this)
orders_df = pd.read_sql('SELECT * FROM orders', con=engine)

# Find valid order IDs
valid_order_ids = set(orders_df['order_id'])

# Filter order_product_df to include only valid order_ids
order_product_df = order_product_df[order_product_df['order_id'].isin(valid_order_ids)]

# Now attempt to insert again
order_product_df.to_sql('order_products', con=engine, if_exists='append', index=False)

32